<div class="home">
    <header class="home-header">
        <div class="home-header-container">
            <div class="home-header-container-content">
                <div>
                    <h1>Order Pizza and wait till <span>20 minutes</span></h1>
                </div>
                <button class="btn-primary ">Order Now</button>
                <button class="btn-secondary ">Cart</button>
                <!-- <img src="../../../assets/surprised.png" height="300em"/> -->
            </div>
            <div class="home-header-container-banner">
                <img id="banner" src="../../../assets/slice-of-pizza.png"/>
            </div>
        </div>
    </header>
    <div class="container">

        <h2>Pizzas</h2>
        <h2>Toppings</h2>
    </div>
</div>